* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

#spzCont {
  height: 80px;
}

#first {
  margin-top: 40px;
}

.container .col-sm {
  border: 1px black solid;
  height: 90px;
}

h1 {
  display: inline-block;
  margin-right: 140px;
}

.redc {
  background-color: red;
}

.green {
  background-color: green;
}
